<h2><%= @tag.tag %></h2>

<form class="" action="/recipe/add/<%= @tag.id %>" method="post">
  <label for="recipe_list">Select a recipe to assign to tag.</label>
  <select id="recipe_list" name="recipe_id" type="text">
    <% @recipe_list.each do |recipe| %>
      <option value="<%=recipe.id %>"> <%= recipe.title %></option>
    <% end %>
  </select>
  <button type="submit" name="button" class="btn">Add Recipe</button>
</form>

<br>

<div class="row">
  <div class="col-md-6" id="edit_box">
    <div class="row">
      <div class="panel panel-default" id="edit">
        <div class="panel-heading">
          <h4>Edit Tag</h4>
        </div>
        <div class="panel-body">
          <div class="col-md-8">
            <form class="" action="/tags/<%= @tag.id %>/edit" method="post">
              <input type="hidden" name="_method" value="patch">
              <div class="form-group">
                <label for="tag">Rename Tag</label>
                <input id="tag" type="text" name="tag" class="form-control" >
              </div>
              <button type="submit" name="button" class="btn">Update Tag</button>
            </form>
          </div>

          <form class="" action="/tags/<%= @tag.id %>/delete" method="post" id="tag_delete">
            <input type="hidden" name="_method" value="delete">
            <div class="form-group">
              <input type="hidden" name="_method" value="delete" class="form-control">
            </div>
            <center>
              <h5>Are you sure you want to delete?</h5>
              <br>
            <button type="submit" name="button" class="btn"> Delete Tag</button></center>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<a href="/">Home</a>
